<%= simple_form_for(@analysis) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :instrument %>
    <%#= f.input :cost %>
    <%= f.input :astm %>
    <%= f.input :photo %>
    <%= f.input :turnaround %>
    <%= f.input :limit %>
    <%= f.input :unit %>
    <%= f.input :volumerequired %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
