<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Lab/Cor Materials</a>
    <ul class="nav">
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Testing", analyses_path %></li>
      <!--<li><%#= link_to "Consulting", consultants_path %></li>-->
      <li class="active"><%= link_to "About", info_about_path %></li>
			<li><%= link_to "Locate", info_locate_path %></li>
      <li><%= link_to "Contact", info_contact_path %></li>
    </ul>
  </div>
</div>
<h1>About Us</h1>